<h1 mat-dialog-title appCustomerHeader>{{ modalTitle }}</h1>
<div mat-dialog-content style="height: calc(100% - 96px);">
  <form [formGroup]="classForm">

    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="name"
            [ngClass]="{ 'is-invalid':classForm.get('name')?.errors && classForm.get('name')?.touched}" />
          <mat-error *ngIf="classForm.get('name')?.errors?.['required']">Please enter a name</mat-error>
          <mat-error *ngIf="classForm.get('name')?.errors?.['minlength']">Please enter at least 2
            characters</mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label class="col-form-label ng-invalid">Course</mat-label>
          <input matInput type="text" formControlName="course"
            [ngClass]="{ 'is-invalid':classForm.get('course')?.errors && classForm.get('course')?.touched}" />
          <mat-error *ngIf="classForm.get('course')?.errors?.['required']">Please enter a course</mat-error>
          <mat-error *ngIf="classForm.get('course')?.errors?.['minlength']">Please enter at least 2
            characters</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end w-100">
  <button mat-raised-button color="primary" [disabled]="!classForm.valid || loading" (click)="save()">{{
    modalSubmitButtonText }}</button>
  <button mat-raised-button color="warn" mat-dialog-close [disabled]="loading">Cancel</button>
</div>