<ul class="nav nav-pills mt-2 mb-2 ms-2 me-2">
    <li class="nav-item">
        <img class="pt-2 pb-2 ps-4 pe-4" height="40px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/640px-Apple-logo.png"/>
    </li>
    <li class="nav-item">
        <a class="toolbar-custom-anchor nav-link ms-2 me-2" aria-current="page" href="https://www.youtube.com/watch?v=FT3ODSg1GFE" target="_blank">iPhone 14 Pro</a>
    </li>
    <li class="nav-item">
        <a class="toolbar-custom-anchor nav-link ms-2 me-2 active" href="https://www.apple.com/shop/buy-iphone/iphone-14-pro" target="_blank">Buy</a>
    </li>
</ul>