<div>
    <div class="row">
      <div class="col">
        <h2>Classes</h2>
      </div>
      <div class="col">
        <div class="float-end">
          <button mat-raised-button color="primary" (click)="openAddClassModal()">Add Class</button>
        </div>
      </div>
    </div>
  
    <mat-divider></mat-divider>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4">
  
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="course">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.course}} </td>
      </ng-container>
  
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Created At </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'MM/dd/yyy HH:mm'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef> Updated At </th>
        <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'MM/dd/yyy HH:mm'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon class="mat-18 cursor-pointer edit-action" (click)="openEditClassModal(element.id)">edit</mat-icon>
          <mat-icon class="mat-18 cursor-pointer ms-4 delete-action" (click)="deleteClass(element.id)">delete</mat-icon>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>